<div class="col-6 col-md-4 col-xl-3 col-lg-2">
    <div class="card border-secondary">
        <a href="{{pageLink}}">
            <span class="card-text">{{pageTitle}}</span>
        </a>
    </div>
</div>