$maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
$rich-black-fogra-29: hsl(217, 28%, 9%);
$gray-x-11-gray: hsl(0, 0%, 74%);
$oxford-blue_60: hsla(230, 41%, 14%, 0.6);
$bittersweet: hsl(5, 100%, 69%);
$smoky-black: rgb(7, 6, 1);
$gainsboro: hsl(0, 0%, 88%);
$black_90: hsla(0, 0%, 0%, 0.9);
$cultured: hsl(200, 12%, 95%);
$salmon: hsl(5, 100%, 73%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$onyx: hsl(0, 0%, 27%);
